<!--Navbar-->
<mdb-navbar
  SideClass="navbar navbar-expand-lg navbar-dark bg-primary"
  [containerInside]="false"
>
  <!-- Navbar brand -->
  <mdb-navbar-brand>
    <a class="navbar-brand">
      <img src="../assets/logo.png" height="30" alt="" />
    </a>
  </mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav ml-5">
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/employees" mdbWavesEffect
          >Employees<span class="sr-only"></span
        ></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/sports" mdbWavesEffect
          >Sports</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/aboutus" mdbWavesEffect
          >About US</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/feedback" mdbWavesEffect
          >Feedback</a
        >
      </li>
    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->
<router-outlet></router-outlet>
