<!--Navbar-->
<mdb-navbar
  SideClass="navbar navbar-expand-lg navbar-dark bg-primary sticky-top"
  [containerInside]="false"
>
  <!-- Navbar brand -->
  <mdb-navbar-brand>
    <a class="navbar-brand">
      <img src="../assets/logo.png" height="30" alt="" />
    </a>
  </mdb-navbar-brand>
</mdb-navbar>
<h2 class="text-center text-secondary mt-3">Sign in</h2>
<!-- Default form login -->
<div style="margin-left: 200px; margin-right: 200px">
  <form class="p-5 mt-5 border border-primary m-5" #userForm="ngForm">
    <div style="padding-left: 350px">
      <!-- Email -->
      <div class="d-flex">
        <mdb-icon
          fas
          icon="envelope"
          class="mr-2 mt-1 text-primary"
          style="font-size: 2em"
        ></mdb-icon>
        <input
          type="email"
          id="defaultLoginFormEmail"
          class="form-control mb-4 col-sm-6"
          placeholder="E-mail"
          required
          ngModel
          name="email"
          #email="ngModel"
          [class.is-invalid]="email.invalid && email.touched"
        />
        <small
          class="mb-5 text-danger ml-4"
          [class.d-none]="email.valid || email.untouched"
          >Email is required</small
        >
      </div>
      <!-- Password -->
      <div class="d-flex">
        <mdb-icon
          fas
          icon="key"
          class="mr-2 mt-1 text-primary"
          style="font-size: 2em"
        ></mdb-icon>
        <input
          type="password"
          id="defaultLoginFormPassword"
          class="form-control mb-4 col-sm-6"
          placeholder="Password"
          required
          ngModel
          name="password"
          #password="ngModel"
          [class.is-invalid]="password.invalid && password.touched"
        />
        <small
          class="mb-5 text-danger ml-4"
          [class.d-none]="password.valid || password.untouched"
          >Password is required</small
        >
      </div>
      <br />
      <!-- Sign in button -->
      <div style="display: flex; gap: 10px">
        <button
          [disabled]="userForm.form.invalid"
          mdbBtn
          color="info"
          class="my-4"
          type="submit"
          routerLink="/dashboard"
        >
          Sign in
        </button>

        <!-- Register -->
        <p style="margin-top: 30px">
          Not a member?
          <a href="">Register</a>
        </p>
      </div>

      <!-- Social login -->
      <p class="ml-5">or sign in with:</p>
      <br />
      <div class="ml-5">
        <a type="button" class="light-blue-text mx-2">
          <mdb-icon fab icon="facebook"></mdb-icon>
        </a>
        <a type="button" class="light-blue-text mx-2">
          <mdb-icon fab icon="twitter"></mdb-icon>
        </a>
        <a type="button" class="light-blue-text mx-2">
          <mdb-icon fab icon="linkedin"></mdb-icon>
        </a>
        <a type="button" class="light-blue-text mx-2">
          <mdb-icon fab icon="github"></mdb-icon>
        </a>
      </div>
    </div>
  </form>
</div>
<!-- Default form login -->
