<!--Navbar-->
<mdb-navbar
  SideClass="navbar navbar-expand-lg navbar-dark bg-primary sticky-top"
  [containerInside]="false"
>
  <!-- Navbar brand -->
  <mdb-navbar-brand>
    <a class="navbar-brand">
      <img src="../assets/logo.png" height="30" alt="" />
    </a>
  </mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav ml-5" style="margin-right: 700px">
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/employees" mdbWavesEffect
          >Employees<span class="sr-only"></span
        ></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/sports" mdbWavesEffect
          >Sports</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/aboutus" mdbWavesEffect
          >About US</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/feedback" mdbWavesEffect
          >Feedback</a
        >
      </li>
    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->
<form
  class="form-inline waves-light mt-5 mr-5"
  mdbWavesEffect
  style="justify-content: center"
>
  <div class="md-form my-0">
    <form class="d-flex">
      <a href="" routerLink="/employee_details">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          (click)="basicModal.show()"
        >
          <i class="fas fa-plus"></i>
          Add Employee
        </button>
      </a>
    </form>
  </div>
</form>
<br />
<main class="container">
  <!--Employee table-->
  <table
    id="table"
    class="
      table table-bordered
      border-primary
      p-2
      text-dark
      shadow
      p-3
      mb-5
      rounded
      text-center
    "
  >
    <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Mobile Number</th>
        <th scope="col">Date of Birth</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listData">
        <td>
          <span>{{ item.firstName }}</span>
        </td>
        <td>
          <span>{{ item.lastName }}</span>
        </td>
        <td>
          <span>{{ item.email }}</span>
        </td>
        <td>
          <span>{{ item.mobileNumber }}</span>
        </td>
        <td>
          <span>{{ item.dob }}</span>
        </td>
      </tr>
    </tbody>
  </table>
</main>
<!--modals-->
<div
  mdbModal
  #basicModal="mdbModal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myBasicModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="basicModal.hide()"
        >
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100 text-center" id="myModalLabel">
          Add Employee
        </h4>
      </div>
      <div class="modal-body">
        <form
          class="
            container
            form
            p-4 p-3 p-2
            text-dark
            bg-opacity-25
            mb-5
            rounded
          "
          [formGroup]="userForm"
        >
          <div id="form">
            <div class="mb-3">
              <span class="text-primary"
                ><mdb-icon fas icon="user-alt"></mdb-icon
              ></span>
              <label for="exampleInputEmail1" class="form-label ml-2"
                ><strong>First Name</strong></label
              >
              <input
                type="text"
                class="form-control"
                id="name"
                aria-describedby="emailHelp"
                placeholder="Enter Employee's First Name"
                required
                formControlName="firstName"
              />
            </div>
            <div class="mb-3">
              <span class="text-primary"><i class="fas fa-user"></i></span>
              <label for="exampleInputPassword1" class="form-label ml-2"
                ><strong>Last Name</strong></label
              >
              <input
                type="text"
                class="form-control"
                id="name"
                placeholder="Enter Employee's Last Name"
                formControlName="lastName"
              />
            </div>
            <div class="mb-3">
              <span class="text-primary"
                ><mdb-icon fas icon="envelope"></mdb-icon
              ></span>
              <label for="exampleInputPassword1" class="form-label ml-2"
                ><strong>Email</strong></label
              >
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="Enter Employee's Mail id"
                formControlName="email"
              />
            </div>
            <div class="mb-3">
              <span class="text-primary"
                ><mdb-icon fas icon="phone-alt"></mdb-icon
              ></span>
              <label for="exampleInputPassword1" class="form-label ml-2"
                ><strong>Mobile Number</strong></label
              >
              <input
                type="tel"
                class="form-control"
                id="tel"
                placeholder="Enter Employee's Mobile Number"
                formControlName="mobileNumber"
              />
            </div>
            <div class="mb-3">
              <span class="text-primary"
                ><mdb-icon fas icon="calendar-alt"></mdb-icon
              ></span>
              <label for="exampleInputPassword1" class="form-label ml-2"
                ><strong>DOB</strong></label
              >
              <input
                type="date"
                class="form-control"
                id="date"
                placeholder="Enter Employee's DOB"
                formControlName="dob"
              />
            </div>

            <br />
            <br />
          </div>
          <div class="modal-footer">
            <button
              type="submit"
              mdbBtn
              color="primary"
              class="relative waves-light"
              mdbWavesEffect
              (click)="addEmployee()"
            >
              Save changes
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
